body {
  margin: 0px;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
.description {
  padding: 10px 10%;
  border-bottom: 1px solid #777;
}
.description > div {
  padding: 0px 20px;
  border-left: 1px solid #e7e7e7;
  display: inline-block;
}
.annotation {
  padding-left: 12px;
}
.content {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 90vh; /* window.innerHeight * 0.88 */
  overflow: scroll;
  background: #fff;
  display: flex;
  flex-direction: row;
}
.content > .markdown-body {
  padding: 0 2rem;
  flex: 1;
  max-width: 50%;
  background: #fff !important;
  overflow: scroll;
}
.content > .editor-container {
  flex: 1;
  max-width: 50%;
}

.content > .editor-container > #markdown-editor {
  height: 100%;
}
